.filterContainer {
  display: flex;
  width: 80%;
  margin: 16px 0;
}

.label {
  margin-right: 8px;
}

.header {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.noTrips {
  display: flex;
  width: 620px;
  justify-content: space-between;
}

.print {
  display: flex;
  justify-content: flex-end;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}
